<div class="p-2 bg-transparent text-center">
  <h1 mat-dialog-title>{{mese.nomeMese}}</h1>
<div class="p-2 bg-transparent">
  <h2>{{giornoDellaSettimanaNome + " " }} <span class="fs-6">{{" - " +  user.nome + " " + user.cognome}}</span></h2>
  <div style="height:200px;" class="position-relative  bg-transparent overflow-auto">
<h1 class="position-absolute top-50 start-50 translate-middle" style="z-index: 0;color: rgba(0,0,0,0.1);">{{giornoDelMese}}</h1>
<p *ngFor="let t of tasks" class="fs-4 fs-bold">{{t.testo + " - " + t.ora}}
  <button class="btn fs-5 py-0 my-0" (click)="deleteTask(t)">❌</button>
  <button class="btn fs-5 py-0 my-0" (click)="modifyTask(t)">🖋️</button>
  </p>
<p *ngIf="!tasks||tasks.length==0" class="fs-5">Non ci sono task per questo giorno </p>
  </div>
  <div class="p-2">
    <button class="btn fs-3" (click)="openTask()" *ngIf="canAdd&&!open">➕</button>
    <div class="p-1" *ngIf="open">
      <form [formGroup]="taskForm">
      <label for="">Cosa devi fare?</label>
      <input type="text" formControlName="testo" class="form-control">
      <label for="">A che ora?</label>
      <select type="text" formControlName="ora" class="form-select" >
      <option value=""></option>
      <option value="{{t}}" *ngFor="let t of times">{{t}}</option>
      </select>
      <button class="btn my-2" *ngIf="!showModifyButton" (click)="saveTask()">Inserisci task</button>
      <button class="btn my-2" *ngIf="showModifyButton" (click)="sendModifiedTask()">Modifica task</button>
    </form>
    </div>
    <button class="btn fs-3" (click)="closeTask()" *ngIf="canAdd&&open">➖</button>
  </div>
</div>
</div>
