<nav class="p-4 bg-black">
<div class="container text-center">
  <div class="row">
    <div class="col-md-3">
      <button class="btn text-white" [routerLink]="'/'">Home</button>
    </div>
    <div class="col-md-3">
      <button class="btn text-white" (click)="goToRoute('task')" *ngIf="isAuthenticated">Task</button>
    </div>
    <div class="col-md-3">
      <button class="btn text-white" (click)="goToRoute('profilo')" *ngIf="isAuthenticated">Profile</button>
    </div>
    <div class="col-md-3">
      <button class="btn text-white" [routerLink]="'/form'">Login/Signup</button>
    </div>
  </div>
</div>
</nav>
