*{
  h1{
    font-size: 60px;
    line-height: 1.5;
  }
  font-family: 'Manuale', serif!important;
  img{
    min-height: 233.32px;
    max-height: 233.33px;
  }
  ul{
    list-style-type: none;
  }
  .first{
    div{
      div{
background: url("../../../assets/home/cloud.png");
background-size: cover;
background-repeat: no-repeat;
background-color: rgba(30, 212, 85, 0.3);
}
  }
}
  .second{
    div{
      div{
background: url("../../../assets/home/cloud.png");
background-size: cover;
background-repeat: no-repeat;
background-color: rgba(206, 39, 136, 0.3);
}
  }
}
}
