*{
  h1{
    font-size: 60px;
    line-height: 1.5;
  }
  font-family: 'Manuale', serif!important;
  img{
    min-height: 233.32px;
    max-height: 233.33px;
  }
  ul{
    list-style-type: none;
  }
}
